@using Przychodnia.App_GlobalResources;
@model Przychodnia.Repository.DYZUR

@{
    ViewBag.Title = "@Resources.MultiLanguage.Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DYZUR</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DZIEN_DYZURU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DZIEN_DYZURU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ODDZIAL.NAZWA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ODDZIAL.NAZWA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRACOWNIK.IMIE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRACOWNIK.IMIE)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@Resources.MultiLanguage.Delete" class="btn btn-default" /> |
            @Html.ActionLink(MultiLanguage.BackToList, "Index")
        </div>
    }
</div>
