@using Przychodnia.App_GlobalResources;
@model Przychodnia.Models.DYZUR

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<script>
                    $(document).ready(function ()
                    {
                        $('#DZIEN_DYZURU').datetimepicker({
                            viewMode : 'days',
                            format: 'YYYY/MM/DD'
                        });
                        $('#OD').datetimepicker({
                            viewMode: 'days',
                            format: 'YYYY/MM/DD HH:mm'
                        });
                        $('#DO').datetimepicker({
                            viewMode: 'days',
                            format: 'YYYY/MM/DD HH:mm'
                        });
                        $("#DZIEN_DYZURU").on("dp.change", function (e) {
                            $('#OD').val(e.date.format('YYYY/MM/DD HH:mm'));
                            $('#DO').val(e.date.format('YYYY/MM/DD HH:mm'));
                            $('#OD').data("DateTimePicker").enabledDates([e.date]);
                            $('#DO').data("DateTimePicker").enabledDates([e.date]);

                        });
                        $("#OD").on("dp.change", function (e) {
                            $('#DO').val(e.date.format('YYYY/MM/DD HH:mm'));
                            $('#DO').data("DateTimePicker").enabledDates([e.date]);

                        });
                    });
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>DYZUR</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID_DYZUR)

        <div class="form-group">
            @Html.LabelFor(model => model.DZIEN_DYZURU, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DZIEN_DYZURU, new { htmlAttributes = new { @id = "DZIEN_DYZURU", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DZIEN_DYZURU, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OD, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OD, new { htmlAttributes = new { @id = "OD", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OD, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DO, new { htmlAttributes = new { @id = "DO", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ID_PRACOWNIK, "PRACOWNIK", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ID_PRACOWNIK", null, "-wybierz pracownika-", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ID_PRACOWNIK, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ID_ODDZIAL, "ODDZIAL", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ID_ODDZIAL", null, "-wybierz oddział-", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ID_ODDZIAL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Resources.MultiLanguage.Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(MultiLanguage.BackToList, "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
