@using Przychodnia.App_GlobalResources;
@model IEnumerable<Przychodnia.Repository.DYZUR>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink(MultiLanguage.CreateNew, "Create")
</p>
<table class="table">
    <tr>
        <th>
            DZIEŃ DYŻURU
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ODDZIAL.NAZWA)
        </th>
        <th>
            PRACOWNIK
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DZIEN_DYZURU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ODDZIAL.NAZWA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRACOWNIK.NazwiskoImie)
        </td>
        <td>
            @Html.ActionLink(MultiLanguage.Edit, "Edit", new { id=item.ID_PRACOWNIK }) |
            @Html.ActionLink(MultiLanguage.Details, "Details", new { id=item.ID_PRACOWNIK }) |
            @Html.ActionLink(MultiLanguage.Delete, "Delete", new { id=item.ID_PRACOWNIK })
        </td>
    </tr>
}

</table>
