@using Przychodnia.App_GlobalResources;
@model Przychodnia.Models.ODDZIAL

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ODDZIAL</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PLACOWKA.NAZWA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PLACOWKA.NAZWA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NAZWA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAZWA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MIEJSCOWOSC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MIEJSCOWOSC)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(MultiLanguage.Edit, "Edit", new { id = Model.ID_ODDZIAL }) |
    @Html.ActionLink(MultiLanguage.BackToList, "Index")
</p>
