@using Przychodnia.App_GlobalResources;
@model Przychodnia.Repository.PRACOWNIK

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PRACOWNIK</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IMIE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IMIE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NAZWISKO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAZWISKO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADRES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADRES)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMAIL_KONTAKTOWY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL_KONTAKTOWY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SPECJALIZACJA.NAZWA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SPECJALIZACJA.NAZWA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(MultiLanguage.Edit, "Edit", new { id = Model.ID_PRACOWNIK }) |
    @Html.ActionLink(MultiLanguage.BackToList, "Index")
</p>
