@using Przychodnia.App_GlobalResources;
@model IEnumerable<Przychodnia.Models.PRACOWNIK>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink(MultiLanguage.CreateNew, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IMIE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NAZWISKO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADRES)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMAIL_KONTAKTOWY)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IMIE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NAZWISKO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADRES)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMAIL_KONTAKTOWY)
        </td>
        <td>
            @Html.ActionLink(MultiLanguage.Edit, "Edit", new { id=item.ID_PRACOWNIK }) |
            @Html.ActionLink(MultiLanguage.Details, "Details", new { id=item.ID_PRACOWNIK }) |
            @Html.ActionLink(MultiLanguage.Delete, "Delete", new { id=item.ID_PRACOWNIK })
        </td>
    </tr>
}

</table>
