@using Przychodnia.App_GlobalResources;
@model IEnumerable<Przychodnia.Repository.PRACOWNIK>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IMIE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NAZWISKO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADRES)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMAIL_KONTAKTOWY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SPECJALIZACJA.NAZWA)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IMIE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NAZWISKO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADRES)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMAIL_KONTAKTOWY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SPECJALIZACJA.NAZWA)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_PRACOWNIK }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_PRACOWNIK }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_PRACOWNIK })
        </td>
    </tr>
}

</table>
