@using Przychodnia.App_GlobalResources;
@model Przychodnia.Repository.PACJENT

@{
    ViewBag.Title = "@Resources.MultiLanguage.Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PACJENT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IMIE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IMIE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NAZWISKO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAZWISKO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADRES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADRES)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PESEL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PESEL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TELEFON_KONTAKTOWY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TELEFON_KONTAKTOWY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMAIL_KONTAKTOWY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL_KONTAKTOWY)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@Resources.MultiLanguage.Delete" class="btn btn-default" /> |
            @Html.ActionLink(MultiLanguage.BackToList, "Index")
        </div>
    }
</div>
