@using Przychodnia.App_GlobalResources;
@model Przychodnia.Repository.PACJENT

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PACJENT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IMIE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IMIE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NAZWISKO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAZWISKO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADRES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADRES)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PESEL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PESEL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TELEFON_KONTAKTOWY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TELEFON_KONTAKTOWY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMAIL_KONTAKTOWY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL_KONTAKTOWY)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(MultiLanguage.Edit, "Edit", new { id = Model.ID_PACJENT }) |
    @Html.ActionLink(MultiLanguage.BackToList, "Index")
</p>
